---
import Layout from "../layouts/Layout.astro";
// PokeVisa tendra Pokedex para buscar Pokemons por nombre, numero de pokedex, tipo, generacion, peso, altura, habilidades, movimientos.
// Pokedle será un juego de adivinanza de Pokemons,
// Pokedungeon, PokeIdle, PokeRace, StatsBattle, Who's that Pokemon?, Adivina el movimiento (potencia, tipo, categoria, descripcion)
---

<Layout>
    <p>Mira la <a href="/pokedex">pokedex</a></p>
    <p>Juega a <a href="/pokedle">Pokedle</a></p>
</Layout>
